.body {
    margin:0;
    padding:0;
}
#sliders {
    width: 1920px;
    height: 100vh;
    display: flex;
}

#sliders img{
    width: 1920px;
    height: 100vh;
    position: absolute;
}
  
.content {
    position: absolute;
    width: 100%;
}

content image{
    width: 100%;
}

